<h1>Coupon Form</h1>
<p>Find me in app/views/coupons/new.html.erb</p>

<%=form_tag "/coupons" do%>
<%=label_tag "coupon code:"%>
<%=text_field_tag "coupon[coupon_code]"%>
<%=label_tag "store:"%>
<%=text_field_tag "coupon[store]"%>
<%=submit_tag "Submit Coupon"%>
<% end %>
